/* Base rules*/
body {
    font-family: "Georgia", serif;
    background-color: #577D86;
    color: rgb(10, 1, 22);
}

h1 {
    background-color: #2f4348;
    color: #76B8C4;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 6px 10px;
}

h2 {
    margin-top: 0;
    text-align: center;

}

fieldset {
    border: solid #569DAA;
    width: fit-content;
    padding: 6px 10px;
    margin: auto;
}

table, th, tr, td {
    border: solid 1px #577D86;
    border-spacing: 0;
}

table {
    margin: auto;
    width: fit-content;
}

th {
    background: #569DAA;
}

td, th {
    position: relative;
    text-align: center;
    padding-right: 1vw;
    padding-left: 1vw;
}

summary {
    font-weight: bold;
}

/* Layout Rules */
.container {
    background-color: #87CBB9;
    margin: 20px;
    padding: 20px;
    height: min(85vh, fit-content);
}

/* Modules rules */

.small-button {
    padding: 1px;
    font-size: xx-small;
    margin-left: 1px;
}

.help {
    z-index: 25;
    background: #87CBB9;
    text-align: right;
    position: fixed;
    display: flex;
    border: 8px solid #569DAA;
    border-radius: 5% 5%;
    max-width: 25%;
    height: fit-content;
    top: 20px;
    right: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.help button {
    width:100%;
}

.click-here {
    text-align: left;
    margin-left: 15px;
}

.click-here summary {
    margin-left: 0;
}



#summary_help {
    text-align: left;
    font-weight: bolder;
}

.a-title {
    all: unset;
}

.evaluate {
    margin-top: 5px;
    text-align: center;
}

.table-empty-ul {
    margin-top: 0;
    margin-bottom: 0;
}

.number-of-games {
    font-style: italic;
}

.champ {
    font-weight: bold;
}

