<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
</head>
<body>

<h1><a class="a_title" href="{{ url_for("home") }}">Pool of Legends</a></h1>
<div class="container">
    All data is from <a href="op.gg">OP.GG!</a> <br>
    This is a free project I did in my spare time. It's web-scraping from OP.GG to get the winrate, and then some
    formatting to put that into a table. There isn't much to it, but I still hope it helped you! <br>
    Contact info :
    <ul>
        <li>The GitHub page, for reporting bugs and see the latest updates! TO DO</li>
        <li>The original reddit post, if you're not familiar with GitHub. TO DO</li>
        <li>At worst, you can try sending them to <a href="mailto:bepeau2@gmail.com">bepeau2@gmail.com</a> with an object starting with "[Pool Of Legends]". Please don't send spam, I'll have to close it :(</li>
    </ul>

</div>
</body>
</html>