<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
</head>
<body>

<h1><a class="a-title" href="{{ url_for("home") }}">Pool of Legends</a></h1>
<div class="container">
    <h2>Credits</h2>
    <p>
    All data is from <a href="u.gg">U.GG</a>! If they ask for it, I will delete this project. <br>
    This is a free project I did in my spare time. It's web-scraping from OP.GG to get the winrate, and then some
    formatting to put that into a table. There isn't much to it, but I still hope it helped you! <br>
    Contact info :
    </p>
    <ul>
        <li>
            The <a href="https://github.com/Cobran53/PoolOfLegends">GitHub page</a>, for reporting bugs and to see the latest updates!
        </li>
        <li>
            The original reddit post, if you're not familiar with GitHub. To be added!
        </li>
        <li>
            At worst, you can try sending them to <a href="mailto:bepeau2@gmail.com">bepeau2@gmail.com</a> with an
            object starting with "[Pool Of Legends]". Please don't send spam, I'll have to close it :(
        </li>
    </ul>
    <h2>Legally speaking</h2>
    <p>
        There is nothing illegal in using this application while U.GG didn't say anything, but this application
        existence is relying on the will of U.GG. If they asked me to stop distributing, to make it impossible to do
        single champion searches, to put one of their banner anywhere, or any other request, I would oblige immediatly.
        I hope this app can carry on, but if it can't, whelp.
    </p>
</div>
</body>
</html>