<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error :(</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
</head>
<body>
<h1><a class="a-title" href="{{ url_for("home") }}">Pool of Legends</a></h1>

<div class="container">
    <h2>Hey! The internal server had an error. </h2>
    <p>They can be several causes :</p>
    <ul>
        <li>
            If you were trying an off-meta champion in a specific lane (e.g. Rell Top), maybe there is not enough data.
            Try a more conventional champion.
        </li>
        <li>
            If you inputed a custom patch, check your spelling. It should look like 13_9 or 13_10, with an underscore !
            A patch can also be too old, so not on <a href="u.gg">U.GG</a> anymore. <i>(PBE is not supported by this program.)</i>
        </li>
        <li>
            If you used "Latest", maybe the patch is so recent there isn't enough data. Try to input the previous patch
            in "custom". <i>(This is especially true if your pick is rare-ish: Karthus Bot, Seraphine Mid...)</i>
        </li>
        <li>
            Check the puppet browser. It should have a mention like "Chrome/Edge is controlled by a program" or a robot
            icon in the search bar. If an error show up there, it's probably a U.GG problem. It could be fixed by simply
            reloading this page, or not. <a href="{{ url_for("page_credits") }}">Contact me</a> if the issue persists.
        </li>
        <li>
            If you don't have the latest version of Pool of Legends, maybe the bug has been fixed? Go to the
            <a href="{{ url_for("page_credits") }}">credits page</a> to find the GitHub link.
        </li>
    </ul>
    <p>
        If none apply, I have no idea what happened! <br>
    </p>
    <p>
        If you're feeling extra nice, see the <a href="{{ url_for("page_credits") }}">credits page</a> for contact info,
        and tell me how you encoutered this page.
    </p>
    <p>
        Here's the browser exception :<br>
        {{ exception }}<br>
    </p>
    <div class="evaluate">
        <button onclick="goBack()">Go Back</button>
    </div>

    <script>
        // Function to go back to the previous page
        function goBack() {
            window.history.back();
        }
    </script>
</div>
</body>
</html>

