<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pool of Legends Home</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
    <!--<link href="static/js/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="static/js/select2/dist/js/select2.min.js"></script>
    <script src="static/js/jquery/dist/jquery.min.js"></script>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.js"></script>
    <script>
        $(document).ready(function() {
            $('#pool').select2({
                placeholder: "Type here your pool of champions...",
                width: '100%',
                dropdownCssClass: "small_font_size"
            })
            $("#evaluate").value = "Evaluate";
            $('#expandable-delta').click(function() {
                event.preventDefault()
                $('#expanded-delta').toggleClass('active');
            });
        });
    </script>

</head>
<body>
<script>
    function submit() {
        $("#evaluate").value = "Evaluating...";
    }
</script>

<h1><a class="a-title" href="{{ url_for("home") }}">Pool of Legends</a></h1>

<div class="container">
    <form id="evaluation_form" method="GET" action="/results">
        <fieldset class="wider">
            <legend>Champions</legend>
            <select id="pool" name="pool[]" multiple="multiple" style="width: 100%">
                {% for champ in champs %}
                <option value="{{ champ }}">{{ champ }}</option>
                {% endfor %}
            </select>
        </fieldset>

        <fieldset class="radio_fieldset">
            <legend>Roles</legend>
            <div class="radio">
                <input type="radio" id="top" name="role" value="top">
                <label for="top">Top</label>
                <input type="radio" id="jungle" name="role" value="jungle">
                <label for="jungle">Jungle</label>
                <input type="radio" id="middle" name="role" value="middle" checked>
                <label for="middle">Middle</label>
                <input type="radio" id="adc" name="role" value="adc">
                <label for="adc">ADC</label>
                <input type="radio" id="support" name="role" value="support">
                <label for="support">Support</label>
            </div>
        </fieldset>


        <fieldset class="radio_fieldset">
            <legend>Patch</legend>
            <div class="radio">
                <input type="radio" id="latest" name="patch" value="latest" checked>
                <label for="latest">
                    Latest
                </label>

                <input type="radio" id="custom" name="patch" value="custom">
                <label for="patch_custom_text">
                    Custom <input type="text" id="patch_custom_text" name="patch_custom"
                                  title="Must look like '13_9', not '13_09', nor '13.9'."
                                  placeholder="13_9" pattern="^(?!0[0-9])\d+_(?!0)\d+$" disabled>
                </label>
            </div>
        </fieldset>

        <fieldset>
            <legend>Rank</legend>
            <label id="label_rank" for="rank">
                Choose a rank :
            </label>
            <select id="rank" name="rank">
                <option value="platinum_plus">Platinum +</option>
                <option value="default" selected>Emerald +</option>
                <option value="diamond_plus">Diamond +</option>
                <option value="diamond_2_plus">Diamond 2 +</option>
                <option value="master_plus">Master +</option>
                <option value="overall">All ranks</option>
                <option value="challenger">Challenger</option>
                <option value="grandmaster">Grandmaster</option>
                <option value="master">Master</option>
                <option value="diamond">Diamond</option>
                <option value="emerald">Emerald</option>
                <option value="platinum">Platinum</option>
                <option value="gold">Gold</option>
                <option value="silver">Silver</option>
                <option value="bronze">Bronze</option>
                <option value="iron">Iron</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Region</legend>
            <label id="label_region" for="region">
                Choose a rank :
            </label>
            <select id="region" name="region">
                <option value="default" selected>World</option>
                <option value="na1">NA</option>
                <option value="euw1">EUW</option>
                <option value="kr">KR</option>
                <option value="br1">BR</option>
                <option value="eun1">EUN</option>
                <option value="jp1">JP</option>
                <option value="la1">LAN</option>
                <option value="la2">LAS</option>
                <option value="oc1">OCE</option>
                <option value="ru">RU</option>
                <option value="tr1">TR</option>
                <option value="ph2">PH</option>
                <option value="sg2">SG</option>
                <option value="th2">TH</option>
                <option value="tw2">TW</option>
                <option value="vn2">VN</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Extras</legend>
            <input id="delta" type="checkbox" name="delta">
            <label id="label_delta" for="delta">
                Use
                <div class="tooltip">
                    deltas
                    <span class="tooltiptext">
                        The delta is the difference between the average winrate and the specific winrate.
                        It's better if you know your champions well, since it will ignore meta fluctuations.
                        However, if your pick is really really rare, it might be better to compare winrates instead.
                    </span>
                </div>
                instead of winrates?
            </label>
        </fieldset>

        <div class="evaluate">
            <input id="evaluate" type="submit" onclick="submit()" value="Evaluate">
        </div>
    </form>
    <p>
        All data comes from, and all credit should go, to <a href="u.gg">U.GG</a>. <br>
        V1.0.0.
    </p>
</div>
<script>
    let radio_latest = document.getElementById("latest");
    let radio_custom = document.getElementById("custom");
    let text_custom = document.getElementById("patch_custom_text");

    radio_latest.addEventListener("change", function() {
        text_custom.disabled = true;
    });

    radio_custom.addEventListener("change", function() {
        text_custom.disabled = false;
    });


</script>
</body>
</html>